/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 
* require_self
* require_tree .
#jbf{
font-size: 40px;
}
*/

body{
 	background: #0099FF;
	margin: 0px auto;
	padding: 0;
	text-align: center;
 }
#container{
 	width: 900px;
	margin: 0 auto;
 }
#header{
	 background:#0099FF;
	 height:80px,background:#6cf;margin-bottom:5px;
	 
 }
#sidebar1{
 	float:left;
	width:180px;
	background:#9ff;
	
 }
#mainContent{
float:right;width:710px;
background:#cff;
 }
#footer {
	padding: 0 10px 0 10px;
	background:#DDDDDD;
    font-size:25px;
}
